# Appendix 01: Python - A Quick Reference Guide
## Prof. Leandro Nunes de Castro

In [ ]:
# This content was created as a supporting material for the book
# EXPLORATORY DATA ANALYSIS: Descriptive Analysis, Visualization and Dashboard Design (with codes in Python)
# authored by Leandro de Castro (c), 2023-2024
# All rights reserved

# Appendix 1 - Python: A Quick Reference Guide

# 2. Basic Syntax in Python

## 2.1 Assigning Variables

In [ ]:
# Declaring and initializing variables
v1 = 1974
v2 = 12.34
v3 = "I am a data analyst"
# Printing (displaying) variables
print('Type(v1)',type(v1))
print('Type(v2)',type(v2))
print('Type(v3)',type(v3))

In [ ]:
# Casting and changing double for single quotes 
v1 = float(1974)
v2 = int(12.34)
v3 = str('I am a data analyst')  # Single quotes
# Printing (displaying) variables
print('**Casting:')
print('Float v1: ',v1)
print('Int v2: ',v2)
# Chained assignments
v1 = v2 = v3 = 1974
print('**Chained assignments:')
print(v1, v2, v3)
v1, v2, v3 = 10, 20, 30
print('**Multiple assignments simultaneously:')
print(v1,v2,v3)

In [ ]:
# Keyword generation and testing
help('keywords')
import keyword # Import the keyword.py library
print('false is a keyword?',keyword.iskeyword('false'))
print('False is a keyword?',keyword.iskeyword('False'))
print('elif is a keyword?',keyword.iskeyword('elif'))

In [ ]:
# Comparisons
v1 = 1974
v2 = 12.34
print('Is', v1, '<', v2,'?',v1 < v2) # Strictly less than
print('Is', v1, '<=', v2,'?',v1 <= v2) # Less than or equal to
print('Is', v1, '>', v2,'?',v1 > v2) # Strictly greater than
print('Is', v1, '>=', v2,'?',v1 >= v2) # Greater than or equal to
print('Is', v1, '==', v2,'?',v1 == v2) # Equal to
print('Is', v1, '!=', v2,'?',v1 != v2) # Different from
print('Is', v1, 'a float number?',v1 is float) # Identity
print('Is', v1, 'not a float number?',v1 is not float) # Identity negation

## 2.2 Data Input and Output

In [ ]:
# Data input from a user
age = input('What is your age? ')
print('Default type: ',type(age))
age = float(age) # Converting the string into a float type
print('Converted type: ',type(age))

In [ ]:
pwd # Print the working directory (folder)

In [ ]:
# Opening and closing files using the try-finally block 
dinsect = open('insect.csv')
try:
    # File processing is included here
    print(dinsect.read()) # Read and print the whole content of the file
finally:
    dinsect.close()

In [ ]:
# Opening and closing files using the with statement 
# This code reads the first three lines of the file
with open('insect.csv') as dinsect:
    # File processing is included here
    print(dinsect.readline())
    print(dinsect.readline())
    print(dinsect.readline())

In [ ]:
# Opening a dataset using a specific library (Pandas)
import pandas as pd  # Pandas is a data manipulation and analysis library

# Loading the UCI 'Mammo' dataset
# https://archive.ics.uci.edu/ml/datasets/Mammographic+Mass
dmammo = pd.read_csv('mammographic_masses_nominal.csv')
print(dmammo.shape)
print(dmammo.head)
print(type(dmammo))

In [ ]:
# Illustrating some common uses of function print()
print('Hello, world!')
import os  # Provides functions to interact with the operating system
print() # Print a blanck line
print('Hi, '+ os.getlogin() +', welcome to Python for dummies!') 
print('Hi', os.getlogin(), 'welcome to Python for dummies!', 
      sep=", ") # Using a specific separator

In [ ]:
# Using the print() function to write directly within a file
with open('emptyfile.txt', mode='r+') as femptyfile:
    print(femptyfile.read()) # Print the content of the file before writing
    print('Writing in the empty file', file=femptyfile)

In [ ]:
# Using the write() method to write within a file
with open('emptyfile.txt', mode='r+') as femptyfile:
    print(femptyfile.read()) # Print the content of the file before writing
    femptyfile.write('Writing with the write() method\n')

In [ ]:
# Using the print function with the format() method
str = 'My name is {0}, I am {1} years old, and I am {2}.'
print(str.format('Leo', 49, "married"))  # Format() with object str
myname = 'Leo'
age = 49
mstatus = "married"

# Printing (displaying) variables
print('\n**Using format() within the print function')
print('My name is {v1}, I am {v2} years old, and I am {v3}.'
      .format(v1=myname,v2=age,v3=mstatus))

In [ ]:
# Indentation in Python
var1 = int(input('Enter an integer value from 1 to 10: '))
if var1 > 5:
    print('The value is greater than 5')
    print('*If* tested')
else:
    print('The value is smaller than 5')
    print('*Else* tested')
print('Program finished (always printed)')

# 3. Data Types in Python

In [ ]:
var = 'Exploratory Data Analysis'; print(type(var),'Example: ',var)
var = 10; print(type(var),'Example: ',var)
var = 10.35; print(type(var),'Example: ',var)
var = complex(1,2); print(type(var),'Example: ',var)
var = ['one','two', 'three']; print(type(var),'Example: ',var)
var = ('one','two', 'three'); print(type(var),'Example: ',var)
var = range(10); print(type(var),'Example: ',var)
var = {'one','two', 'three'}; print(type(var),'Example: ',var)
var = {'Temperature' : '70', 'Scale' : 'Farenheit'}; print(type(var),
                                                           'Example: ',var)
var = frozenset({'one','two', 'three'}); print(type(var),'Example: ',var)
var = False; print(type(var),'Example: ',var)
var = b'one'; print(type(var),'Example: ',var)
var = bytearray(10); print(type(var),'Example: ',var)
var = memoryview(bytes(10)); print(type(var),'Example: ',var)
var = None; print(type(var),'Example: ',var)

## 2.1 Numeric

In [ ]:
# Numeric data types
n1 = 10
n2 = 5.5
n3 = 1 + 2j
print(type(n1),type(n2),type(n3))
print(float(n1)) # Convert only to print
print(int(n2)) # Convert only to print
# Main arithmetic operations
print('n1+n2 =',n1+n2)
print('n1-n2 =',n1-n2)
print('n1/n2 =',n1/n2)
print('Floored: n1//n2 =',n1//n2) # Floored quotient
print('Remainder: n1%n2 =',n1%n2) # Remainder
print('n1*n2 =',n1*n2)
print('n1^2 =',n1**2)
print('pow(n1,2) =',pow(n1,2))

## 3.2 Strings

In [ ]:
# Strings: accessing, concatenating, replacing
p1 = 'My name is'
p2 = 'Leandro de Castro'
print(p1[0:2]) # Accessing the first two characters
print(p1[:2]) # Accessing the first two characters (alternative)
print(p1[3:7]) # Accessing the substring 'name' (chars 4 to 7)
print(p2[-6:]) # Backward accessing the substring 'Castro'
p3 = p1+' '+p2 # Concatenating strings
print(p3)
ind = p3.find('name') # Find the index of a string within p3
print(ind)
p4 = p2.replace('de Castro','Silva')
print('My new name is',p4) # Replace a substring

## 3.3 Lists

In [ ]:
# Lists: declaring, reading, and operating 
mylist = ['There','are',50,'states','in','USA']
print(type(mylist)) # Print the data type
print(mylist) # Print the whole list
print(mylist[0],mylist[2],mylist[5]) # Print items in a list
print(len(mylist)) # List length
mylist.append(30.2) # Append an item to the end of the list
print(mylist)
mylist.remove(30.2) # Remove an item from the list
print(mylist)
mylist.pop(2) # Remove item at position 3
print(mylist)
mylist.insert(2,50) # Insert item '50' at index 3
print(mylist)
print(mylist.count('states')) # Number of times the word 'states' appear
mylist.reverse(); print(mylist) # Reversing the list

## 3.4 Tuples

In [ ]:
# Tuples: declaring, reading, and operating 
mytuple = ('There','are',50,'states','in','USA')
print(type(mytuple)) # Print the data type
print(mytuple) # Print the whole tuple
print(mytuple[0],mytuple[2],mytuple[5]) # Print items in a tuple
print(len(mytuple)) # Tuple length
newtuple = ('and',67,'counties','in','Florida.')
fulltuple = mytuple + newtuple # Concatenate tuples
print(fulltuple)
nestedtuple = (mytuple,newtuple)
print(nestedtuple) # Nested tuple
newtuple[1] = 50 # Tuples do not support item assignment

## 3.5 Range

In [ ]:
# Range
rg = range(10) # Create the sequence
print(type(rg)) # Print the type
print(list(rg)) # Transform in a list
print(tuple(rg)) # Transform in a tuple
rg = range(0,10,2) # Steps of 2
print(list(rg))
rg = range(0,-10,-1) # Steps of -1
print(list(rg))
print(rg[2]) # Accessing an item by its index

## 3.6 Dictionary

In [ ]:
# Dictionaries (dict)
dic_ages = {'Anna':27, 'Maria':33,'Peter':42,'Robert':35}
print('Original dictionary:',dic_ages)
dic_ages['Allyson'] = 29 # Adding a person to the dict
print('Increased dictionary:',dic_ages)
keys = dic_ages.keys()
print('Keys:',keys) # Print all keys
print('Values:',dic_ages.values()) # Print all values
# Print value for key = Maria
print('Maria is {v1}-years old.'.format(v1=dic_ages['Maria'])) 
dic_ages['Allyson'] = 20 # Updating Allyson's age
print('Updated Allyson age:',dic_ages)
dic_ages = dict(sorted(dic_ages.items())) # Sorting the keys
print('Ordered dictionary:',dic_ages)
del dic_ages['Allyson'] # Removing Allyson from the dictionary
print('Reduced dictionary:',dic_ages)

## 3.7 Boolean

In [ ]:
# Boolean data type
v1 = 5
v2 = 10
comp = v1==v2
print(type(comp))
print('Is v1 equals to v2?',comp)
print('Is v1 different from v2?',v1!=v2)
print('Is v1 equals to v2?',bool(v1==v2))

## 3.8 Set and Frozenset

In [ ]:
# Creating sets
# Directly creating set s1
print('**Creating sets')
s1 = {'soccer','basketball','baseball','football','soccer'}
print('Creating s1 directly:',s1)
# Creating set s1 using function set()
s1 = set(['soccer','basketball','baseball','football','soccer'])
print('Using function set():',s1)
s2 = {'volleyball','baseball','table_tennis','tennis'}
print('\n**Available sets \nS1:',s1)
print('S2:',s2)

In [ ]:
# Set operations
print('\n**Set operations')
print('Union:',s1|s2) # Union
print('Intersection:',s1&s2) # Intersection
print('Difference (s1-s2):',s1-s2) # Difference (In s1 but not in s2)
print('Symmetric Difference:',s1^s2) # Symmetric difference
a = 'table_tennis'
# Membership
print('\n**Membership')
print('Is', a, 'in', s1,'?', a in s1)
print('Is', a, 'in', s2,'?', a in s2)

## 3.9 Binary: Bytes, Bytearray

In [ ]:
# Bytes
bstr = bytes(b'String of bytes')
print(type(bstr))
print(bstr)
print('Bytes string length:',len(bstr))
print('Print a substrings of bytes:',bstr[7:9])
bstr[7:9] = b'in' # Bytes are immutable

In [ ]:
# Bytearray
bastr = bytearray(b'String of bytes')
print(type(bastr))
print('Print the original bytearray:',bastr)
print('Bytearray string length:',len(bastr))
print('Print a substrings of bytearray:',bastr[7:9])
bastr[7:9] = b'in' # Bytearrays are mutable
print('Print the mutated bytearray:',bastr)
print('Print the original bytearray:',bastr.replace(b' in',b' of'))

## 3.10 NoneType

In [ ]:
# None
v1 = None
print(v1)
print(type(v1))

# 4. Control Structures

## 4.1 Decision Control Structures

In [ ]:
# If statement
dic_ages = {'Anna':27, 'Maria':33,'Peter':42,'Robert':35}
if dic_ages['Anna'] > 18:
    print('Anna is of legal age')
print('End of code')

In [ ]:
# If-else statement
# Condition 1
dic_ages = {'Anna':27, 'Maria':33,'Peter':42,'Robert':35}
print('*Anna is',dic_ages['Anna'],'years old*')
if dic_ages['Anna'] > 18:
    print('Anna is of legal age')
else:
    print('Anna is underage')
print('End of code') # New code block

# Condition 2
dic_ages = {'Anna':17, 'Maria':33,'Peter':42,'Robert':35}
print('\n*Anna is',dic_ages['Anna'],'years old*')
if dic_ages['Anna'] > 18:
    print('Anna is of legal age')
else:
    print('Anna is underage')
print('End of code') # New code block

In [ ]:
# If-elif statement
# Condition 1
dic_ages = {'Anna':27, 'Maria':73,'Peter':42,'Robert':35}
print('*Anna is',dic_ages['Anna'],'years old*')
print('*Maria is',dic_ages['Maria'],'years old*')
if dic_ages['Anna'] < 18:
    print('Anna is underage')
elif dic_ages['Maria'] >= 65:
    print('Maria is an older adult and Anna is an adult')
print('End of code') # New code block

# Condition 2
dic_ages = {'Anna':27, 'Maria':63,'Peter':42,'Robert':35}
print('\n*Anna is',dic_ages['Anna'],'years old*')
print('*Maria is',dic_ages['Maria'],'years old*')
if dic_ages['Anna'] < 18:
    print('Anna is underage')
elif dic_ages['Maria'] >= 65:
    print('Maria is an older adult')
print('End of code') # New code block

In [ ]:
# Nested if statements
dic_ages = {'Anna':27, 'Maria':73,'Peter':42,'Robert':35}
print('*Maria is',dic_ages['Maria'],'years old*')
if dic_ages['Maria'] >= 18:
    print('Maria is an adult')
    if dic_ages['Maria'] >= 65:
        print('Maria is an older adult')
print('End of code') # New code block

In [ ]:
# If-elif-else statement
# Condition 1
dic_ages = {'Anna':27, 'Maria':73,'Peter':42,'Robert':35}
print('*Anna is',dic_ages['Anna'],'years old*')
print('*Maria is',dic_ages['Maria'],'years old*')
if dic_ages['Anna'] < 18:
    print('Anna is underage')
elif dic_ages['Maria'] >= 65:
    print('Maria is an older adult and Anna is an adult')
else:
    print('Maria is an adult')
print('End of code') # New code block

# Condition 2
dic_ages = {'Anna':27, 'Maria':63,'Peter':42,'Robert':35}
print('\n*Anna is',dic_ages['Anna'],'years old*')
print('*Maria is',dic_ages['Maria'],'years old*')
if dic_ages['Anna'] < 18:
    print('Anna is underage')
elif dic_ages['Maria'] >= 65:
    print('Maria is an older adult')
else:
    print('Maria and Anna are adults')
print('End of code') # New code block

## 4.2 Repetition Control Structures

### 4.2.1 While Loop

In [ ]:
# While statement (creating a list)
stop = 5; it = 0; v = []
while it < stop:
    it = it + 1
    v.append(it)
    print(it) # Print every iteration
print('The list is:',v) # Print after the while loop

In [ ]:
# While statement (counting and conditional statement)
s1 = ['soccer', 'basketball', 'tennis', 'table_tennis', 'football', 
      'baseball', 'volleyball']
it = 0; soma = 0
print('List s1:',s1)
while it < len(s1)-1:
    if s1[it] != 'table_tennis':
        soma = soma + 1
    it = it + 1
print('The number of items different from table_tennis is:', it)

### 4.2.2 For Loop

In [ ]:
# For statement (creating a list)
stop = 5; it = 0; v = []
for it in range(stop):
    it = it + 1
    v.append(it)
    print(it) # Print every iteration
print('The list is:',v) # Print after the while loop

In [ ]:
# For statement (iterating over a string)
p1 = 'My name is'
print('String p1:',p1)
for i in p1:
    print(i)

In [ ]:
# For statement (iterating over a list)
s1 = ['soccer', 'basketball', 'tennis', 'table_tennis', 'football', 
      'baseball', 'volleyball']
print('List s1:',s1)
for i in s1:
    print(i)
print(type(i))

In [ ]:
# For statement (iterating over a tuple)
mytuple = ('There','are',50,'states','in','USA')
print('Tuple mytuple:',mytuple)
for i in mytuple:
    print(i)
print(type(i))

In [ ]:
# For statement (iterating over a dictionary)
dic_ages = {'Anna':27, 'Maria':33,'Peter':42,'Robert':35}
print('Dictionary dic_ages:',dic_ages)
for i in dic_ages:
    print('%s %d' % (i,dic_ages[i]))
print(type(i),type(dic_ages[i]))

In [ ]:
# For statement (iterating over a set)
s1 = {'soccer','basketball','baseball','football','soccer'}
print('Set s1:',s1)
for i in s1:
    print(i)
print(type(i))

# 5. Functions

In [ ]:
# Function example 1
def my_first_function():
    print("I am a data analyst")
my_first_function() # Call to function my_first_function

In [ ]:
# Function example 2
def my_func():
    name = input('Enter your name: ')
    print('Your name is',name)
my_func()

In [ ]:
# Function calculates the area of a square
def fsq_area(sq_side:float):
    sq_area = sq_side*sq_side
    print('The area of the square is',sq_area,'sqmt')
    return(sq_area)

print('*Function calculates the area of a square*')
sq_side = float(input('Size of the square side:'))
fsq_area(sq_side)

In [ ]:
# Function determines if a number is even or odd
def feven_odd(val:int):
    if (val % 2 == 0):
        print('Answer: number',val,'is even')
    else:
        print('Answer: number',val,'is odd')
        
print('*Function determines if a number is even or odd*')
num = int(input('Input the number:'))
feven_odd(num)

In [ ]:
# Function using keyword arguments allows the user to enter the 
# corresponding argument for each keyword independently of the order
def fpd(name:str,age:int):
    dic_ages = {}
    dic_ages[name] = age
    print(dic_ages)

fpd(age=50, name='Pietra')

In [ ]:
# Function fills in a dataset with personal data
def fpd(num): # Function personal data (fpd)
    dic_ages = {}
    for i in range(num):
        name = str(input('Name of user:'))
        age = int(input('Age of user:'))
        dic_ages[name] = age
    print('Saved dataset (dict):',dic_ages)

print('*Function fills in a dataset with personal data*')
num = int(input('Number of users to save the data:'))
fpd(num)